Source: fonts-mplus
Section: fonts
Priority: optional
Maintainer: Debian Fonts Task Force <debian-fonts@lists.debian.org>
Uploaders: Gürkan Myczko <tar@debian.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.1
Rules-Requires-Root: no
Vcs-Git: https://salsa.debian.org/fonts-team/fonts-mplus.git
Vcs-Browser: https://salsa.debian.org/fonts-team/fonts-mplus
Homepage: https://mplusfonts.github.io/

Package: fonts-mplus
Architecture: all
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: M+ sans serif fonts with different weights
 This is a collection of sans serif fonts with different weights, including
 Japanese glyphs.
 .
 All fonts were completed with Basic Latin, Latin-1 Supplement, and Latin
 Extended-A. And most of extended glyphs and symbols were prepared too. So the
 fonts are in conformity with ISO-8859-1, 2, 3, 4, 7, 9, 10, 13, 14, 15, 16,
 windows-1252, and T1 encoding.
 .
 In addition, proportional M+ P Type-1 and M+ P Type-2 fonts were completed
 with Latin Extended-B, Latin Extended Additional, and ISO-8859-5. And many
 Greek, Cyrillic, IPA Extensions glyphs, and symbols were expanded. Those
 additional glyphs are included in M+ C provisionality.
